:root {
    --font-color: #001726;
    --border-color: #5c7d92;
    --primary: #afe9f3;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    touch-action: manipulation;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 0;
    font-weight: normal;
    color: var(--font-color);
    font-kerning: auto;
    font-family: "Noto Sans JP", "Inter", sans-serif;

    &::before,
    &::after {
        display: block;
    }
}
picture,
img {
    display: block;
    width: auto;
    height: auto;
}
iframe {
    aspect-ratio: 16/9;
    background-color: #ccc;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    appearance: none;
    display: block;
}
a {
    &:has(picture),
    &:has(img) {
        display: block;
    }
}
details {
    summary {
        list-style: none;

        &::-webkit-details-marker {
            display: none;
        }
    }
}
table {
    border-collapse: collapse;
}
:target {
    scroll-margin-top: 100px;
}

.row {
    width: min(100%, 1380px);
    padding: 0 40px;
    margin: 0 auto;
}

@media screen and (min-width: 769px) {
    .header__inner {
        height: 144px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid var(--border-color);

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
        h1 {
            padding-right: 56px;
            border-right: 1px solid var(--border-color);
            height: 100%;
            display: flex;
            justify-content: center;

            img {
                height: 72px;
            }
        }
        nav {
            display: flex;
            align-items: center;
            gap: 56px;

            ul {
                display: grid;
            }
            
            a {
                font-size: 1.5rem;
                letter-spacing: 0.08em;
                height: 44px;
                min-width: 44px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                img{
                    width: 24px;
                    height: 24px;
                }
            }
        }
        
    }
    .header__info-list{
        gap: 40px;
        grid-template-columns: repeat(4, 1fr);
    }
    .header__shopping-list{
        gap: 16px;
        grid-template-columns: repeat(3, 1fr);
    }
}
