.index__mv {
    picture,
    img {
        width: 100%;
        height: auto;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .slick-slider {
        display: flex;
        flex-direction: column;
    }

    .slick-dots {
        position: relative;
        bottom: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -16px;
        gap: 8px;

        li {
            margin: 0;
            width: 8px;
            height: 8px;

            button {
                width: 100%;
                height: 100%;
                padding: 0;
                border: 1px solid var(--font-color);
                background-color: transparent;
                border-radius: 100%;
            }

            &.slick-active {
                button {
                    background-color: var(--font-color);
                }
            }
        }
    }
}

.index__news {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin-top: 8px;

    .row {
        display: flex;
        align-items: center;
    }
    h2 {
        letter-spacing: 0.04em;
    }
}

.index__news-one {
    p {
        letter-spacing: 0.04em;
    }
}

@media screen and (min-width: 769px) {
    .index__news {
        padding: 32px 0;
        
        .row {
            gap: clamp(24px, 2vw, 40px);
        }
        h2 {
            font-size: 1.8rem;
            height: clamp(40px, 5vw, 48px);
            display: flex;
            align-items: center;
            padding-right: clamp(24px, 2vw, 40px);
            border-right: 1px solid var(--border-color);
        }
    }
    .index__news-one {
        p {
            font-size: 1.4rem;
        }
    }
}

.index__about{
    a{
        display: flex;
        align-items: center;

        &::after{
            content: '';
            display: block;
            border-top: 1px solid var(--font-color);
            border-right: 1px solid var(--font-color);
            transform: rotate(45deg);
        }
    }
    h2{
        font-size: var(--fs38-pc);
    }
}

@media screen and (min-width: 769px){
    .index__about{
        a{
            gap: 14px;

            &::after{
                width: 10px;
                height: 10px;
            }
        }
    }
}