.index__mv picture,
.index__mv img {
  width: 100%;
  height: auto;
}
.index__mv .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.index__mv .slick-slider {
  display: flex;
  flex-direction: column;
}
.index__mv .slick-dots {
  position: relative;
  bottom: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -16px;
  gap: 8px;
}
.index__mv .slick-dots li {
  margin: 0;
  width: 8px;
  height: 8px;
}
.index__mv .slick-dots li button {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 1px solid var(--font-color);
  background-color: transparent;
  border-radius: 100%;
}
.index__mv .slick-dots li.slick-active button {
  background-color: var(--font-color);
}

.index__news {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-top: 8px;
}
.index__news .row {
  display: flex;
  align-items: center;
}
.index__news h2 {
  letter-spacing: 0.04em;
}

.index__news-one p {
  letter-spacing: 0.04em;
}

@media screen and (min-width: 769px) {
  .index__news {
    padding: 32px 0;
  }
  .index__news .row {
    gap: clamp(24px, 2vw, 40px);
  }
  .index__news h2 {
    font-size: 1.8rem;
    height: clamp(40px, 5vw, 48px);
    display: flex;
    align-items: center;
    padding-right: clamp(24px, 2vw, 40px);
    border-right: 1px solid var(--border-color);
  }
  .index__news-one p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  .index__news h2 {
    font-size: var(--fs22-sp);
  }
  .index__news-one p {
    font-size: 1.3rem;
  }
}
.index__about a {
  display: flex;
  align-items: center;
}
.index__about a::after {
  content: "";
  display: block;
  border-top: 1px solid var(--font-color);
  border-right: 1px solid var(--font-color);
  transform: rotate(45deg);
}

@media screen and (min-width: 769px) {
  .index__about a {
    gap: 14px;
    margin-top: 96px;
    margin-bottom: 88px;
  }
  .index__about a::after {
    width: 10px;
    height: 10px;
  }
  .index__about h2 {
    font-size: var(--fs38-pc);
  }
}
@media screen and (max-width: 768px) {
  .index__about a::after {
    width: clamp(6px, 1.56vw, 8px);
    height: clamp(6px, 1.56vw, 8px);
  }
  .index__about h2 {
    font-size: var(--fs32-sp);
  }
}
.index__map {
  border-top: 1px solid var(--border-color);
}
.index__map iframe {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .index__map ul {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    gap: 40px;
  }
  .index__map ul::before {
    content: "";
    display: block;
    order: 2;
    width: 1px;
    height: 100%;
    background-color: var(--border-color);
  }
  .index__map li {
    padding-top: 40px;
    padding-bottom: 64px;
  }
  .index__map li:first-of-type {
    order: 1;
  }
  .index__map li:nth-of-type(2) {
    order: 3;
  }
  .index__map iframe {
    aspect-ratio: 1.694/1;
  }
  .index__map h2 {
    font-size: 1.8rem;
    margin-top: 32px;
    margin-bottom: 12px;
  }
  .index__map p {
    font-size: 1.4rem;
  }
  .index__map p:first-of-type {
    letter-spacing: 0.08em;
  }
  .index__map p + p {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .index__map h2 {
    font-size: var(--fs22-sp);
  }
  .index__map p {
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=style.css.map */