.index__mv{
    picture, img{
        width: 100%;
        height: auto;
    }

    .slick-dots{
        position: relative;
        bottom: unset;
        display: flex;
        justify-content: center;
        align-items: center;

        li{
            margin: 0;
        }
    }
}

@media screen and (min-width: 769px){
    .index__mv{
        .slick-dots{
            margin-top: 16px;
            gap: 4px;

            li{
                width: 8px;
                height: 8px;

                button{
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    border: 1px solid var(--font-color);
                    background-color: transparent;
                }
                
                &.slick-active{
                    button{
                        background-color: var(--font-color);
                    }
                }
            }
        }
    }
}

